@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-100";
  src: url("../assets/fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: "Poppins-200";
  src: url("../assets/fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "Poppins-300";
  src: url("../assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-400";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-500";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-600";
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-700";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-800";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins-900";
  src: url("../assets/fonts/Poppins-Black.ttf");
}

h1 {
  font-family: "Poppins-500";
}
.header-link {
  font-family: "Poppins-400";
}
.btn {
  font-family: "Poppins-500";
  font-size: 18px;
}
.poppins-thin {
  font-family: "Poppin2-100";
}
.poppins-extraLight {
  font-family: "Poppins-200";
}
.poppins-light {
  font-family: "Poppins-300";
}
.poppins-regular {
  font-family: "Poppins-400";
}
.poppins-medium {
  font-family: "Poppins-500";
}
.poppins-semiBold {
  font-family: "Poppins-600";
}
.poppins-bold {
  font-family: "Poppins-700";
}
.poppins-extraBold {
  font-family: "Poppins-800";
}
.poppins-black {
  font-family: "Poppins-900";
}
.hero-parent {
  margin-top: 20px;
}
.hero {
  width: 100%;
}
.card {
  height: 98%;
}
.card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
@media screen and (min-width: 768px) {
  .hero-parent {
    margin-top: 69px;
  }
  .hero {
    width: 500px;
    height: 500px;
  }
}
